body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 27px;
}

#center-align {
    font-size: 20px;
    text-align: center;
    padding-top: 350px;
    color: white;
}

.cover-section {
    background-image: linear-gradient(to bottom, transparent, rgb(41, 37, 37)), url(donation4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.button-edit {
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 8px 25px;
    border-radius: 7px;
}

.center-align2 {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
    font-size: 20px;
}

.amount-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.amount-section {
    font-size: 40px;
    color: rgb(172, 167, 167);
    background-color: rgba(238, 234, 234, 0.315);
    padding: 40px 20px;
    border-radius: 7px;
    margin: 30px;
}

.amount-section3 {
    font-size: 40px;
    color: rgb(250, 0, 0);
    background-color: rgba(255, 182, 46, 0.333);
    border: 2px solid orange;
    padding: 40px 20px;
    border-radius: 7px;
    margin: 30px;

}

#input1 {
    border: none;
    border-bottom: 2px solid gray;
    width: 65%;
    font-size: 24px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 12px;

}

::placeholder {
    color: lightgrey;
}

.button-padding {
    padding-top: 30px;
}

#image-align {
    display: flex;
    padding: 10px 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-bottom: 50px;
}

.flex-item1 {
    padding: 50px;
    background-color: rgba(216, 112, 147, 0.2);
    height: 250px;
    width: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
    margin-left: 50px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

}

.flex-item2 {
    background-color: rgba(255, 166, 0, 0.2);
    height: 250px;
    width: 400px;
    padding: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
    margin-left: 20px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.flex-item3 {
    background-color: rgba(137, 43, 226, 0.2);
    height: 250px;
    width: 400px;
    padding: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 50px;
    margin-left: 20px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.plan-section {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

}

.half-width {
    width: 50%;
    padding: 6%;
}

.half-width img {
    width: 90%;
}

.email-form {
    width: 55%;
    margin: auto;
    height: 200px;
    background-color: rgba(240, 230, 140, 0.43);
    margin-top: 50px;
    margin-bottom: 100px;
}

input.email {

    font-size: 20px;
    background-color: rgba(128, 128, 128, 0.552);
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 60px;
    padding-left: 18px;
    margin-top: 75px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.subscribe {
    background-color: rgb(255, 166, 0);
    padding: 17px 30px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

footer {
    font-family: 'Lobster', cursive;
    color: white;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
}